<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- About Tab Content -->
<div aria-labelledby="about-tab" class="tab-pane fade" id="about" role="tabpanel" th:fragment="aboutContent">
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">About MyBookApp</h5>
			<p class="card-text">
				MyBookApp is a simple demo application to manage your book collection.
				Backend Version: <span id="backend-version">Loading...</span>
			</p>
		</div>
	</div>
</div>
</body>
</html>